@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
    /* Generated accent color palettes. */
    --color-accent-200: #efbaaf;
    --color-accent-600: #c12a10;
    --color-accent-900: #591a0f;
    --color-accent-950: #3d160f;
    /* Generated gray color palettes. */
    --color-gray-100: #f4f7f6;
    --color-gray-200: #eaefed;
    --color-gray-300: #bec3c2;
    --color-gray-400: #848e8b;
    --color-gray-500: #515b58;
    --color-gray-700: #313a38;
    --color-gray-800: #202926;
    --color-gray-900: #151918;
}